@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }
}

@layer components {
  .container {
    @apply mx-auto px-6 lg:px-8 grid grid-cols-12 gap-2;
  }

  .cta {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }

  .secondary {
    @apply bg-gray-200 text-gray-700 font-bold py-2 px-4 rounded;
  }

  .link {
    @apply relative text-secondary whitespace-nowrap transition-all duration-100 ease-in;
  }
}
